Repository marcosmoura/ynab-sync-investments: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

.lintstagedrc.json:

{
  "*.{js,ts,tsx,jsx,json,css,md}": [
    "prettier --write",
    "oxlint --config .oxlint.json --import-plugin --fix",
    "eslint --fix"
  ],
  "*.{ts,tsx}": ["pnpm typecheck"]
}

fix: imports
  apps/api/src/sync/sync.module.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

fix: tests
  apps/api/src/app/app.spec-e2e.ts
  apps/api/src/app/app.spec.ts
  apps/api/src/app/app.test.ts
  apps/api/src/documentation/documentation.spec.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

test: add missing tests
  apps/api/src/app/app.spec.ts
  apps/api/src/app/app.test.ts
  apps/api/src/asset/asset.spec-e2e.ts
  apps/api/src/asset/asset.spec.ts
  apps/api/src/asset/dto/update-asset.dto.ts
  apps/api/src/documentation/documentation.spec-e2e.ts
  apps/api/src/documentation/documentation.spec.ts
  apps/api/src/documentation/documentation.test.ts
  apps/api/src/market-data/dto/market-data.dto.ts
  apps/api/src/market-data/market-data.spec-e2e.ts
  apps/api/src/market-data/market-data.spec.ts
  apps/api/src/sync/sync.service.ts
  apps/api/src/sync/sync.spec-e2e.ts
  apps/api/src/sync/sync.spec.ts
  apps/api/src/user-settings/dto/update-user-settings.dto.ts
  apps/api/src/user-settings/user-settings.spec-e2e.ts
  apps/api/src/user-settings/user-settings.spec.ts
  apps/api/src/ynab/ynab.spec-e2e.ts
  apps/api/src/ynab/ynab.spec.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

feat: reconcile instead of updating account balance
  apps/api/src/sync/sync.service.ts
  apps/api/src/sync/sync.spec.ts
  apps/api/src/ynab/ynab.service.ts
  apps/api/src/ynab/ynab.spec.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

fix: remove .env files from git
  .env
  .env.example
  .gitignore
Due: none

fix: remove .env files from git
  .env
Due: none

feat: implement real fetch of data
  .env.example
  apps/api/src/market-data/market-data.service.ts
  apps/api/src/market-data/market-data.spec.ts
  docs/MARKET_DATA_API_INTEGRATION.md
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

test: cleanup tests and improve coverage
  apps/api/src/app/app.spec-e2e.ts
  apps/api/src/asset/asset.spec-e2e.ts
  apps/api/src/asset/asset.spec.ts
  apps/api/src/documentation/documentation.spec-e2e.ts
  apps/api/src/market-data/market-data.spec-e2e.ts
  apps/api/src/market-data/market-data.spec.ts
  apps/api/src/sync/sync.spec-e2e.ts
  apps/api/src/sync/sync.spec.ts
  apps/api/src/test-setup.ts
  apps/api/src/user-settings/user-settings.spec-e2e.ts
  apps/api/src/ynab/ynab.spec-e2e.ts
  apps/api/src/ynab/ynab.spec.ts
  apps/api/vitest.config.ts
  docs/APP_DESCRIPTION.md
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

feat: add budget selection
  apps/api/src/shared/entities/user-settings.entity.ts
  apps/api/src/shared/migrations/1754399959093-Migration.ts
  apps/api/src/sync/sync.service.ts
  apps/api/src/sync/sync.spec.ts
  apps/api/src/user-settings/dto/create-user-settings.dto.ts
  apps/api/src/user-settings/dto/update-user-settings.dto.ts
  apps/api/src/user-settings/dto/user-settings-response.dto.ts
  apps/api/src/user-settings/user-settings.controller.ts
  apps/api/src/user-settings/user-settings.module.ts
  apps/api/src/user-settings/user-settings.service.ts
  apps/api/src/user-settings/user-settings.spec-e2e.ts
  apps/api/src/ynab/dto/index.ts
  apps/api/src/ynab/dto/ynab-budget.dto.ts
  apps/api/src/ynab/ynab.controller.ts
  apps/api/src/ynab/ynab.service.ts
  apps/api/src/ynab/ynab.spec-e2e.ts
  apps/api/src/ynab/ynab.spec.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

chore: split package.json to be specific per app
  .npmrc
  apps/api/package.json
  apps/api/project.json
  apps/api/typeorm.config.ts
  apps/web/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

chore: remove unused deps
  apps/api/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix

feat: ditch webpack to use vite instead
  apps/api/package.json
  apps/api/project.json
  apps/api/tsconfig.spec.json
  apps/api/vite.config.ts
  apps/api/vitest.config.ts
  apps/api/webpack.config.js
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

feat: ditch webpack to use vite instead
  nx.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix

feat: fix DB migrations and eslint config
  .lintstagedrc.json
  .oxlint.json
  .oxlintrc.json
  apps/api/package.json
  apps/api/project.json
  apps/api/src/app/app.module.ts
  apps/api/src/asset/asset.module.ts
  apps/api/src/asset/asset.service.ts
  apps/api/src/asset/asset.spec-e2e.ts
  apps/api/src/asset/asset.spec.ts
  apps/api/src/database/entities/Asset.ts
  apps/api/src/database/entities/UserSettings.ts
  apps/api/src/database/entities/index.ts
  apps/api/src/database/migrations/1754408206790-InitialDBCreation.ts
  apps/api/src/shared/entities/index.ts
  apps/api/src/shared/migrations/1733337600000-CreateInitialTables.ts
  apps/api/src/shared/migrations/1754399959093-Migration.ts
  apps/api/src/shared/migrations/index.ts
  apps/api/src/sync/sync.service.ts
  apps/api/src/sync/sync.spec.ts
  apps/api/src/user-settings/dto/create-user-settings.dto.ts
  apps/api/src/user-settings/dto/update-user-settings.dto.ts
  apps/api/src/user-settings/dto/user-settings-response.dto.ts
  apps/api/src/user-settings/user-settings.module.ts
  apps/api/src/user-settings/user-settings.service.ts
  apps/api/src/user-settings/user-settings.spec-e2e.ts
  apps/api/src/user-settings/user-settings.spec.ts
  apps/api/typeorm.config.ts
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

chore: cleanup repo
  .lintstagedrc.json
  .oxlintrc.json
  .prettierrc
  .vscode/tasks.json
  apps/api/project.json
  apps/api/tsconfig.app.json
  apps/api/tsconfig.json
  apps/api/tsconfig.spec.json
  apps/api/vite.config.ts
  apps/web/project.json
  apps/web/tsconfig.app.json
  apps/web/tsconfig.e2e.json
  apps/web/tsconfig.json
  docs/MARKET_DATA_API_INTEGRATION.md
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

fix: typecheck issues with wrong TS config
  apps/api/project.json
  apps/api/src/user-settings/user-settings.spec.ts
  apps/api/tsconfig.app.json
  apps/web/project.json
  apps/web/tsconfig.json
  apps/web/tsconfig.spec.json
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

fix: typecheck issues with wrong TS config
  apps/web/src/app/app.element.spec.ts
  apps/web/tsconfig.app.json
  apps/web/tsconfig.e2e.json
  apps/web/tsconfig.spec.json
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

feat: create api-playground app to test whole application
  .env.example
  README.md
  apps/api-playground/README.md
  apps/api-playground/package.json
  apps/api-playground/project.json
  apps/api-playground/scripts/check-setup.ts
  apps/api-playground/scripts/run-playground.ts
  apps/api-playground/src/main.ts
  apps/api-playground/src/playground/api-client.ts
  apps/api-playground/src/playground/api-playground.ts
  apps/api-playground/src/playground/database-manager.ts
  apps/api-playground/src/playground/test-data.ts
  apps/api-playground/src/playground/ynab-validator.ts
  apps/api-playground/tsconfig.app.json
  apps/api-playground/tsconfig.json
  apps/api-playground/vite.config.ts
  apps/api/package.json
  apps/api/project.json
  apps/api/src/app/app.module.ts
  apps/api/src/market-data/market-data.service.ts
  apps/api/src/market-data/market-data.spec.ts
  apps/api/src/sync/sync.service.ts
  apps/api/src/sync/sync.spec.ts
  apps/api/src/ynab/ynab.controller.ts
  apps/api/src/ynab/ynab.service.ts
  apps/api/src/ynab/ynab.spec.ts
  apps/api/tsconfig.spec.json
  apps/web/package.json
  nx.json
  package.json
  pnpm-lock.yaml
  scripts/db.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

fix: unit tests not passing and improve coverage
  .env.example
  apps/api-playground/README.md
  apps/api-playground/src/playground/test-data.ts
  apps/api/src/user-settings/dto/index.ts
  apps/api/src/user-settings/dto/ynab-token.dto.ts
  apps/api/src/user-settings/user-settings.controller.ts
  apps/api/src/user-settings/user-settings.spec-e2e.ts
  apps/api/src/user-settings/user-settings.spec.ts
  apps/api/src/ynab/ynab.service.ts
  apps/api/src/ynab/ynab.spec.ts
  apps/api/vite.config.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

fix: linting issues
  apps/api/src/user-settings/user-settings.spec.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

feat: use polygon and coinmarketcap as providers
  apps/api-playground/scripts/check-setup.ts
  apps/api-playground/src/playground/api-playground.ts
  apps/api-playground/src/playground/test-data.ts
  apps/api-playground/src/playground/ynab-validator.ts
  apps/api/src/market-data/dto/bulk-asset-price-response.dto.ts
  apps/api/src/market-data/dto/index.ts
  apps/api/src/market-data/dto/market-data.dto.ts
  apps/api/src/market-data/market-data.controller.ts
  apps/api/src/market-data/market-data.service.ts
  apps/api/src/market-data/market-data.spec-e2e.ts
  apps/api/src/market-data/market-data.spec.ts
  apps/api/src/sync/sync.service.ts
  apps/api/src/sync/sync.spec.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

feat: use alpha vantage as backup
  apps/api/src/market-data/market-data.service.ts
  apps/api/src/market-data/market-data.spec.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

feat: implement finnhub as split providers into separate files
  apps/api/src/market-data/dto/get-asset-price.dto.ts
  apps/api/src/market-data/dto/index.ts
  apps/api/src/market-data/dto/market-data.dto.ts
  apps/api/src/market-data/market-data.controller.ts
  apps/api/src/market-data/market-data.module.ts
  apps/api/src/market-data/market-data.service.ts
  apps/api/src/market-data/market-data.spec-e2e.ts
  apps/api/src/market-data/market-data.spec.ts
  apps/api/src/market-data/providers/alpha-vantage/alpha-vantage.service.spec.ts
  apps/api/src/market-data/providers/alpha-vantage/alpha-vantage.service.ts
  apps/api/src/market-data/providers/coinmarketcap/coinmarketcap.service.spec.ts
  apps/api/src/market-data/providers/coinmarketcap/coinmarketcap.service.ts
  apps/api/src/market-data/providers/finnhub/finnhub.service.spec.ts
  apps/api/src/market-data/providers/finnhub/finnhub.service.ts
  apps/api/src/market-data/providers/polygon/polygon.service.spec.ts
  apps/api/src/market-data/providers/polygon/polygon.service.ts
  apps/api/src/market-data/providers/types.ts
  apps/api/src/market-data/utils/currency-converter.spec.ts
  apps/api/src/market-data/utils/currency-converter.ts
  apps/api/src/market-data/utils/fetch-with-timeout.spec.ts
  apps/api/src/market-data/utils/fetch-with-timeout.ts
  apps/api/src/market-data/utils/index.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

feat: implement manual sync endpoint
  apps/api/src/sync/sync.controller.ts
  apps/api/src/sync/sync.module.ts
  apps/api/src/sync/sync.spec-e2e.ts
  apps/api/src/sync/sync.spec.ts
  docs/API_DOCUMENTATION.md
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

feat: implement file-sync mode
  .env.example
  apps/api-playground/README.md
  apps/api-playground/scripts/run-playground.ts
  apps/api-playground/src/main.ts
  apps/api-playground/src/playground/api-client.ts
  apps/api-playground/src/playground/api-playground.ts
  apps/api/README.md
  apps/api/package.json
  apps/api/src/app/app.module.ts
  apps/api/src/file-sync/file-sync.controller.ts
  apps/api/src/file-sync/file-sync.e2e.ts
  apps/api/src/file-sync/file-sync.module.ts
  apps/api/src/file-sync/file-sync.service.ts
  apps/api/src/file-sync/file-sync.spec.ts
  apps/api/src/file-sync/index.ts
  docs/investment-config.example.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

fix: avoid caching the file and always fetch a fresh copy
  apps/api/src/app/app.module.ts
  apps/api/src/file-sync/file-sync.service.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

fix: add missing tests and remove swagger
  README.md
  apps/api-playground/README.md
  apps/api/README.md
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.service.ts
  apps/api/src/app/app.spec-e2e.ts
  apps/api/src/app/app.spec.ts
  apps/api/src/file-sync/file-sync.spec.ts
  apps/api/src/main.ts
  apps/api/src/market-data/dto/asset-price-response.dto.ts
  apps/api/src/market-data/dto/bulk-asset-price-response.dto.ts
  apps/api/src/market-data/dto/get-asset-price.dto.ts
  apps/api/src/market-data/dto/index.ts
  apps/api/src/market-data/market-data.spec.ts
  apps/api/src/ynab/dto/ynab-account.dto.ts
  apps/api/src/ynab/dto/ynab-budget.dto.ts
  apps/api/src/ynab/ynab.spec.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

docs: add note about AI
  README.md
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix

fix: cleanup project dependencies
  apps/api-playground/package.json
  apps/api-playground/project.json
  apps/api/package.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix

chore: move file to root
  investment-config.example.yaml
Due: none

docs: improve example docs
  README.md
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix

fix: cleanup unused code
  apps/api-playground/src/playground/api-client.ts
  apps/api-playground/src/playground/test-data.ts
  apps/api/src/app/app.module.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

fix: rename route from /trigger to /sync
  README.md
  apps/api-playground/src/playground/api-client.ts
  apps/api/README.md
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.service.ts
  apps/api/src/app/app.spec-e2e.ts
  apps/api/src/app/app.spec.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

fix: sync .env with .env.example
  .env
Due: none

docs: update note about AI
  README.md
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix

feat: add support for assets with special characters (NSQE.DE)
  apps/api/src/market-data/market-data.spec.ts
  apps/api/src/market-data/providers/alpha-vantage/alpha-vantage.service.spec.ts
  apps/api/src/market-data/providers/alpha-vantage/alpha-vantage.service.ts
  apps/api/src/market-data/providers/polygon/polygon.service.spec.ts
  apps/api/src/market-data/providers/polygon/polygon.service.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

feat: add support for options and european market
  .env.example
  apps/api/src/market-data/market-data.module.ts
  apps/api/src/market-data/market-data.service.ts
  apps/api/src/market-data/market-data.spec.ts
  apps/api/src/market-data/providers/fmp/fmp.service.spec.ts
  apps/api/src/market-data/providers/fmp/fmp.service.ts
  apps/api/src/market-data/providers/polygon/polygon.service.spec.ts
  apps/api/src/market-data/providers/polygon/polygon.service.ts
Due: prettier --write, oxlint --config .oxlint.json --import-plugin --fix, eslint --fix, pnpm typecheck

fix: sync .env
  .env
Due: none
