Repository marcosmoura/ynab-sync-investments: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

.lintstagedrc.json:

{
  "*.{js,ts,tsx,jsx,json,css,md}": ["prettier --write", "oxlint --fix", "eslint --fix"],
  "*.{ts,tsx}": ["pnpm typecheck"]
}

fix: update copilot instructions
  .github/copilot-instructions.md
Due: prettier --write, oxlint --fix, eslint --fix

fix: remove unused dependencies and plugins
  nx.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix, eslint --fix

docs: add mention to FMP in the README
  README.md
Due: prettier --write, oxlint --fix, eslint --fix

chore: add test as pre commit hook
  .lintstagedrc.json
Due: prettier --write, oxlint --fix, eslint --fix

feat: add more providers
  .env.example
  .github/copilot-instructions.md
  .vscode/mcp.json
  README.md
  apps/api-playground/src/playground/api-playground.ts
  apps/api-playground/src/playground/test-data.ts
  apps/api/README.md
  apps/api/src/app/app.spec-e2e.ts
  apps/api/src/file-sync/file-sync.service.ts
  apps/api/src/market-data/market-data.module.ts
  apps/api/src/market-data/market-data.service.ts
  apps/api/src/market-data/market-data.spec.ts
  apps/api/src/market-data/providers/finnhub/finnhub.service.spec.ts
  apps/api/src/market-data/providers/finnhub/finnhub.service.ts
  apps/api/src/market-data/providers/fmp/fmp.service.spec.ts
  apps/api/src/market-data/providers/fmp/fmp.service.ts
  apps/api/src/market-data/providers/raiffeisen-cz/raiffeisen-cz.service.spec.ts
  apps/api/src/market-data/providers/raiffeisen-cz/raiffeisen-cz.service.ts
  apps/api/src/market-data/providers/yahoo-finance/yahoo-finance.service.ts
  apps/api/src/ynab/ynab.service.ts
  apps/api/vite.config.ts
  investment-config.example.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

fix: upgrade typecheck deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix, eslint --fix

fix: markdown lint issues
  README.md
Due: prettier --write, oxlint --fix, eslint --fix

feat: add markdown lint
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

chore: tweak linter config
  .lintstagedrc.json
  eslint.config.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

fix: change the cron time
  README.md
  apps/api-playground/src/playground/api-playground.ts
  apps/api/README.md
  apps/api/src/file-sync/file-sync.service.ts
  apps/api/src/file-sync/file-sync.spec.ts
  investment-config.example.yaml
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

feat: cache currency converter to not hit API limits
  apps/api/src/market-data/utils/currency-converter.spec.ts
  apps/api/src/market-data/utils/currency-converter.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

test: mock services to speed up test execution
  apps/api/src/app/app.spec-e2e.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

test: mock timers to speedup test execution
  apps/api/src/market-data/providers/coinmarketcap/coinmarketcap.service.spec.ts
  apps/api/src/market-data/providers/polygon/polygon.service.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

test: add missing tests for Yahoo API
  apps/api/src/market-data/providers/yahoo-finance/yahoo-finance.service.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

feat: fetch Raiffeisen certificates and fix price conversion
  apps/api/src/market-data/providers/raiffeisen-cz/raiffeisen-cz.service.spec.ts
  apps/api/src/market-data/providers/raiffeisen-cz/raiffeisen-cz.service.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

feat: use timezone when setting up schedules
  apps/api/src/file-sync/file-sync.service.ts
  apps/api/src/file-sync/file-sync.spec.ts
  investment-config.example.yaml
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

fix: improve logs
  apps/api/src/file-sync/file-sync.service.ts
  apps/api/src/market-data/market-data.service.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

fix: skip asset in case of error
  apps/api/src/market-data/providers/yahoo-finance/yahoo-finance.service.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

fix: improve types
  apps/api/src/market-data/utils/currency-converter.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

fix: skip asset in case of error
  apps/api/src/market-data/providers/yahoo-finance/yahoo-finance.service.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

feat: implement pre-push hooks
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  lint-staged.commit.config.ts
  lint-staged.push.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

feat: implement pre-push hooks
  .husky/pre-commit
  .husky/pre-push
  lint-staged.config.ts
  lint-staged.push.config.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

fix: avoid using lint-staged for push hooks
  .husky/pre-push
Due: none

fix: improve logging to detect cron issues
  apps/api/src/file-sync/file-sync.service.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

fix: remove .env file
  .gitignore
Due: none

fix: improve cron logic
  apps/api/src/file-sync/file-sync.service.ts
  apps/api/src/file-sync/file-sync.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

feat: update deps and bump version
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix, eslint --fix

feat: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix, eslint --fix

fix: upgrade deps to avoid TS typing issues across deps
  apps/api/src/file-sync/file-sync.service.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

fix: upgrade deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix, eslint --fix

fix: upgrade cron time to happen before sync
  apps/api/src/file-sync/file-sync.service.ts
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

feat: upgrade libraries
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix, eslint --fix

feat: upgrade dependencies
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck

feat: update yahoo finance integration
  AGENTS.md
  apps/api/src/market-data/providers/yahoo-finance/yahoo-finance.service.spec.ts
  apps/api/src/market-data/providers/yahoo-finance/yahoo-finance.service.ts
  apps/api/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix, eslint --fix, pnpm typecheck
